.imputFormulario{
  outline: none;
  border-radius: 16px;
  background-color:transparent;
  color: #4F5479;
  font-size: 12px;
  line-height: 15px;
  padding: 8px 14px;
  border: none;
  width: 90%;
}
.contFila {
  color: #4D4D4D;
  font-size: 11px;
  line-height: 13px;
  text-align: left;

  display: flex;
}
.filaTablaWS{
  border-bottom: 1px solid #CCC;
  border-left: 0px;
}
.imputFormulario, input::placeholder {
color: #4F5479;
font-size: 12px;
 font-weight: 600;

}
.tablaWorkShift {
  margin-left: 20px;
  margin-right: 20px;
  /* height: calc(100% - 110px); */
}
.botonWS {
  margin: 0px;
  border-radius: 17px;
  background-color: #4F5479;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  padding: 8px 18px 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.totalElementos {
  margin-top: 13px;
  color: #9BA2AA;
  font-size: 13px;
  line-height: 16px;
}


  .icono{
   color: #4D4D4D;
   font-size: large;
   padding: 2px;
  } 

 
