<div class="fontFamilyWS">
    <div id="encabezado">
        <div id="titulosModal">
            <div class="titulo1">
                {{'Crear nota evolutiva'}}
            </div>
        </div>
        <div id="botonesPrincipales">

            <button class="botonesWS"> {{'Guardar'}}</button>
            <button (click)="cerrarModal()" class="botonesWS" style="margin-left:13px;"> {{'Cancelar'}}
            </button>
        </div>
    </div>
    <div class="divisor100"></div>
    <div>
        <form>



            <div class="filaWS" style="padding-top: 31px;">
                <div style="    padding: 19px;">
                    <label style="    width: 100%;" class="labelFuera">{{'Unidad medica:'}} {{'C.S Zacatepec'}}</label>
                    <label style="    width: 100%;" class="labelFuera">{{'No Expediene:'}} {{'E-568'}}</label>
                    <label style="    width: 100%;" class="labelFuera">{{'Nombre:'}} {{'Jesse Zeferino Rodriguez'}}</label>
                    <label style="    width: 100%;" class="labelFuera">{{'Edad:'}} {{'26 años'}}</label>
                    <label style="    width: 100%;" class="labelFuera">{{'Genero:'}} {{'Mascuino'}}</label>
                </div>

            </div>




            <div class="filaWS" style="padding-top: 31px;">
                <div class="labelFormulario columna1">
                    <label>{{'T/A'}}</label>
                </div>
                <div class="columna2">
                    <div style="display: flex;    align-items: center;  position: relative;">
                        <input type="number" class="imputFormulario">

                    </div>

                </div>
                <div class="labelFormulario columna1">
                    <label>{{'TEMP'}}</label>
                </div>
                <div class="columna2">
                    <div style="display: flex;    align-items: center;  position: relative;">
                        <input type="number" class="imputFormulario">

                    </div>

                </div>

            </div>

            <div class="filaWS" style="padding-top: 31px;">
                <div class="labelFormulario columna1">
                    <label>{{'FREC.C'}}</label>
                </div>
                <div class="columna2">
                    <div style="display: flex;    align-items: center;  position: relative;">
                        <input type="number" class="imputFormulario">

                    </div>

                </div>
                <div class="labelFormulario columna1">
                    <label>{{'FREC.R'}}</label>
                </div>
                <div class="columna2">
                    <div style="display: flex;    align-items: center;  position: relative;">
                        <input type="number" class="imputFormulario">

                    </div>

                </div>

            </div>

            <div class="filaWS" style="padding-top: 31px;">
                <div class="labelFormulario columna1">
                    <label>{{'PESO'}}</label>
                </div>
                <div class="columna2">
                    <div style="display: flex;    align-items: center;  position: relative;">
                        <input type="number" class="imputFormulario">

                    </div>

                </div>
                <div class="labelFormulario columna1">
                    <label>{{'TALLA'}}</label>
                </div>
                <div class="columna2">
                    <div style="display: flex;    align-items: center;  position: relative;">
                        <input type="number" class="imputFormulario">

                    </div>

                </div>

            </div>

            <div class="filaWS" style="padding-top: 31px;">
                <div class="labelFormulario columna1">
                    <label>{{'Nota de evolución'}}</label>
                </div>
                <div class="columna2">
                    <div style="display: flex;    align-items: center;  position: relative;">
                        <textarea class="imputFormulario" cols="30" id="description" rows="5">
                        </textarea>

                    </div>

                </div>
            </div>


            <br>

        </form>
    </div>
</div>