<app-navbar></app-navbar>

<div style="padding-left: 100px;" id="mainContainerWS" class="fontFamilyWS">
    <div id="contentSW">
        <!--encabezado-->
        <div class="divHeaderWS">
            <div class="tituloWS">
                <!--titulo-->
                <label class="titulo1">{{'Inicio' }}</label>
            </div>
            <div class="botonesWSHeader">
               

            </div>
        </div>
        <!--divisor-->
        <div class="lineaDivisora">

        </div>

        <!--tabla-->
        <div style="height: calc(100vh - 255px)" id="contTablaUser">
       
           
        </div>

       

    </div>


    <!-- <div style="padding-left: 25px;position: absolute;">
        <label class="totalElementos"> 4654 Usuarios</label>
    </div> -->

</div>
